@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@100;300;400;500;600;700&family=Roboto&display=swap');
*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: bolder;
}
body{
    background: #e0b4af;
    font-size: 14px;
    line-height: 20px;
    
}
.cv_section{
    width: 800px;
    padding: 10px;
    display: flex;
    margin: 50px auto;
    background: #f2dbce;
}
.cv_section .cv_section_left{
    width: 40%;
    background: #3c303c;
}
.cv_section .cv_section_left .cv_iamge{
    width: 100%;
}
.cv_section .cv_section_left .cv_iamge img{
    
    width: 100px;

}
.cv_section .cv_title{
    color: #e4575b;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
.cv_section .cv_section_left .cv_info{
    color: hwb(240 68% 31%);
}
.cv_section .cv_section_left .cv_bottom{
    padding: 20px 30px;
}
.cv_section .cv_section_left .cv_item{
    padding: 30px 0;
    border-bottom: 1px solid#e4575b;
    font-weight: bolder;
}
.cv_section .cv_section_right .cv_item{
    
    border-bottom: 1px solid#e4575b;
    font-weight: bolder;
}

.cv_section .cv_item:last-child{
    border-bottom: 0%;
}
.cv_section .cv_section_left .cv_nameRole{
    display: none;
}
.cv_section .cv_nameRole .name{
    font-size: 20px;
    color:#e4575b;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}
.cv_section .cv_section_left .cv_nameRole .Role{

    color: hwb(240 68% 31%);
    font-weight: bolder ;

}
.cv_section .cv_section_left .cv_contact .cv_info:last-child{
    margin-top: 10px;
}
.cv_section .cv_section_left .cv_contact .cv_subtitle{
    color: #e4575b;
    margin-bottom: 2px;
}
.cv_section .cv_section_left .cv_skills .skills_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.cv_section .cv_section_left .cv_skills .skills_list .skills_bar p{
    position: relative;
    width: 125px;
    height: 20px;
    background:#f4cdc9;

}
.cv_section .cv_section_left .cv_skills .skills_list .skills_bar p span{
    position: absolute;
    top: 0;
    left: 0;
    background: #e4575b;
    width: 100%;
    height: 100%;
}
.cv_section .cv_section_right{
    width: 65%;
    padding: 20px 40px;
}
.cv_section .cv_section_right .cv_nameRole .name{
    color:#3c303c;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.cv_section .cv_section_right .cv_nameRole .Role{
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: #3c303c;
    font-weight: bolder;
    
}
.cv_section .cv_section_right .cv_title{
    margin-top: 10px;
    padding: auto;
    font-weight: bolder;
   
}

.cv_section .cv_section_right .cv_item .cv_title{
    color: #e4575b;
    margin-top: 5px;
    font-weight: bolder;

}
.cv_section .cv_section_right .cv_data{
    display: flex;
}
.cv_section .cv_section_right .cv_data .year{
    padding-right: 35px;
    width: 115px;
    position: relative;
    font-weight: bolder;
    color: #3c303c;
}
.cv_section .cv_section_right .cv_data .content{
    padding-left: 25px;
    margin-bottom: 20px;
    width: calc(100% - 115px);
    color: #3c303c;
}
.cv_section .cv_section_right .cv_data .content p1{
    font-weight: bolder;
}
.cv_section .cv_section_right .cv_data .year:before{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #f4cdc9;
    border: 1px solid #da2228;
    border-radius: 50%;
}
.cv_section .cv_section_right .cv_data .year:after{
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 95%;
    background: #e4575b;
}
.cv_section .cv_section_right .cv_data:last-child .year:after{
    display: none;
}
.cv_section .cv_section_right .cv_intrests .cv_info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cv_section .cv_section_right .cv_intrests{
    margin-bottom: auto;
}
.cv_section .cv_section_right .cv_intrests .intrests .int_icon{
    font-size: 38px;
    color: #e4575b;
    margin-bottom: 10px;
    
}
.cv_section .cv_section_right .cv_intrests .intrests .int_data{
    margin-bottom: 2px;
    font-weight: bolder;
    color: #3c303c;
}


@media screen and (max-width: 800px){
    .cv_section .cv_section_right .cv_nameRole{
        display: none;
    }
    .cv_section .cv_section_left .cv_nameRole{
        display: block;

    }
    .cv_section{
        margin: 10px auto;
        width: 95%;
        flex-direction: column;
    }
    .cv_section .cv_section_right,.cv_section .cv_section_left{
        width: 100%;
    }

}
@media screen and (max-width: 424px){
    .cv_section .cv_section_right{
        padding: 20px 30px;
    }
    .cv_section .cv_section_right .cv_data{
        flex-direction: column;
    }
    .cv_section .cv_section_right .cv_data .year{
        padding: 0;
        margin-bottom: 5px;
        width: 100%;
        color: #e4575b;

    }
    .cv_section .cv_section_right .cv_data .year:before,.cv_section .cv_section_right .cv_data .year:after{
        display: none;
    }
    .cv_section .cv_section_right .cv_data .content{
        width: 100%;
        padding: 0;
    }
    .cv_section .cv_section_right .intrests .int_icon{
        font-size: 24px;
        display: inline;

    }
    .cv_section .cv_section_right .intrests .int_data{
        display: inline;
        margin: 5px;
    }

}